.row
  .col-md-offset-1.col-md-8.thought-wrapper
    .row
      .form.thought-form
        = render "thoughts/form"
    .thought-legend
      %h5
        %b #RUN
    - @allThought.each do |t|
      .container.col-md-12
        .row.thoughts
          .thought-content
            = t.content
          .thought-action
            = t.updated_at.strftime("%d %B %I:%M %p")

  .col-md-2.hash-wrapper

