// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #DDDDDD;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.main-content-wrapper{
  margin-top: 75px;
}

.thought-wrapper{
  background-color: white;
}

.hash-wrapper{
  background-color: white;
}
