// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #DDDDDD;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.main-content-wrapper{
  margin-top: 75px;
}

.thought-wrapper{
  background-color: white;

  min-height: 500px;
  .thoughts, .thought-legend{
    border-bottom: 1px solid #CACACA;
    .thought-content{
      padding: 20px 0 20px 0;
    }
    .thought-action{
      padding: 0 0 10px 0;
    }
  }
}

.hash-wrapper{
  background-color: white;
  text-align: center;
  .hash-form{
    .form-group{
      padding: 20px 10px 0px 0;
    }
  }

  .btn-default{
    border: 0px;
  }
}

.thought-form{
  padding: 30px 0 30px 0;
  .form-control{
    width: 100%;
  }
}
